body {
  background-color: orangered;
  color: #fcc;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: lighter;
  font-size: 14pt;
}

address {
  text-decoration: none;
  font-style: normal;
}

a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  font-size: 40pt;
}

h1, h2, h3 {
  font-weight: normal;
}